body{
	background-color: black;
	color:white;
}

.bg-color{
	background: #1C1C1C;
}

button{border:0px;}
button:hover{
	color:white;
	background-color: green;
}
button:active{
	font-weight: bold;
}

a{color:green !important;}
a:hover{color:green !important;}


td,th{
	border: 1px solid white;
	padding-left:1%;
	padding-right:1%;
}



option{
	color:green;
	background-color: black;
}
option:hover{
	color:#1dbf1d;
	background-color:#313131;
}
