body{
	background-color: black;
	color:white;
}

.bg-color{
	background: #1C1C1C;
}

button{border:0px;}
button:hover{
	color:white;
	background-color: green;
}
button:active{
	font-weight: bold;
}

a{color:green !important;}
a:hover{color:green !important;}


th,td{
	border: 1px solid white;
}
td{
	padding-left:4px;
	padding-right:4px;

}


option{
	color:green;
	background-color: black;
}
option:hover{
	color:#1dbf1d;
	background-color:#313131;
}

.nl_patch{
	color:white;
}
