@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');



.sender_logo{
	width:7%;
	height:7%;
}


.bg-color{

}

/* button{border:0px;}
button:hover{
	color:white;
	background-color: green;
}
button:active{
	font-weight: bold;
} */


.nl_patch{
	font-family: 'Inter', sans-serif !important;
}
