@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.bg-color{

}

button{border:0px;}
button:hover{
	color:white;
	background-color: green;
}
button:active{
	font-weight: bold;
}


.nl_patch{
	color:white !important;
	font-family: 'Inter', sans-serif !important;
}
