body{
	background-color: black;
	color:white;
}

.bg-color{
	background: #1C1C1C;
}

button{border:0px;}
button:hover{
	color:white;
	background-color: green;
}
button:active{
	font-weight: bold;
}

a{color:lightgrey !important;}
a:hover{color:green !important;}
